@using TheBugInspector.Client.Helpers
@inject IProjectDTOService ProjectService

@if (Ticket is not null)
{

    <EditForm Model="Ticket" OnValidSubmit="HandleSubmit" class="row">
        <DataAnnotationsValidator />
        @* Name *@
        <div class="col-lg-4 gap-2">
            <div class="mb-2">
                <label class="form-label">
                    Ticket Name
                </label>
                <InputText class="form-control" @bind-Value="Ticket.Title" />
                <ValidationMessage For="() => Ticket.Title" />
            </div>
            @* Project *@
            @if (IsNew == true)
            {
                <div class="mb-2">
                    <label for="priority" class="form-label">
                        Project
                    </label>
                    <InputSelect @bind-Value="Ticket.ProjectId" class="form-select">
                        <option value="">Select a Project</option>
                        @foreach (ProjectDTO project in projects)
                        {
                            <option value="@project.Id">
                                @project.Name
                            </option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Ticket.Priority" />
                </div>
            }
            @if (Ticket.Project is not null)
            {
                <div class="mb-2">
                    <label for="priority" class="form-label">
                        Project: @Ticket.Project.Name
                    </label>
                </div>

            }
            @* Type *@
            <div class="mb-2">
                <label for="priority" class="form-label">
                    Type: @Ticket.Type
                </label>
            </div>
            @* Priority *@
            <div class="mb-2">
                <label for="priority" class="form-label">
                    Priority: @Ticket.Priority
                </label>
            </div>

            @* Status *@
            <div class="mb-2">
                <label for="priority" class="form-label">
                    Status: @Ticket.Status
                </label>
            </div>
        </div>

        @* Description *@
        <div class="col-lg-8">
            <div class="mb-2">
                <label class="form-label">Ticket Description</label>
                <InputTextArea class="form-control" rows="10" @bind-Value="Ticket.Description" />
                <ValidationMessage For="() => Ticket.Description" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Save</button>

        <ValidationSummary />
    </EditForm>



}




@code {
    #region Parameters
    [Parameter, EditorRequired]
    public TicketDTO? Ticket { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<TicketDTO> OnSubmit { get; set; }

    [Parameter, EditorRequired]
    public bool IsNew { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }
    #endregion

    #region State
    private IEnumerable<ProjectDTO> projects = [];


    private UserInfo? userInfo;
    #endregion

    #region Methods
    protected override async Task OnInitializedAsync()
    {
        try
        {

            userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);
            if (userInfo is not null)
            {
                projects = await ProjectService.GetAllProjectsCountAsync(userInfo.CompanyId);

            }


        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);

        }
    }
    private async Task HandleSubmit()
    {
        try
        {

            await OnSubmit.InvokeAsync(Ticket);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);

        }
    }
    #endregion
}