@if (Ticket is not null)
{
    @if (Ticket.IsArchived == true)
    {
        backgroundColor = "bg-success-subtle";
    }
    else
    {
        backgroundColor = "bg-primary-subtle";
    }

    <div class="row mb-5 g-3">
        <div class="col-12 col-md-8">
            <div class="card @backgroundColor mt-3 h-100">
                <div class="card-header">
                    <h2>@Ticket.Title</h2>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Ticket Description</h5>
                    <p class="card-text">@Ticket.Description</p>
                    @*             <a href="/projects/edit/@Project.Id" class="btn btn-warning">Edit?</a> *@
                </div>
            </div>

        </div>
        <div class="col-12 col-md-4">
            <div class="card @backgroundColor mt-3">
                <div class="card-body text-start">
                    @if (Ticket.Project is not null)
                    {
                        <h4>Project:</h4>
                        <h6>@Ticket.Project.Name</h6>

                    }
                    @if(Ticket.Updated is not null)
                    {
                        <h6>Last Updated: @Ticket.Updated.Value.ToString("d")</h6>
                    }
                    else
                    {
                        <h6>Last Updated: @Ticket.Created.ToString("d")</h6>
                    }
                    @if (Ticket.IsArchived == true)
                    {
                        <h6>Archived: Archived</h6>
                    }
                    else
                    {
                        <h6>Archived: Not Archived</h6>
                    }
                    <h6>Type: @Ticket.Type.GetDisplayName()</h6>
                    <h6>Type: @Ticket.Priority.GetDisplayName()</h6>
                    <h6>Type: @Ticket.Status.GetDisplayName()</h6>
                    <h6>Ticket Submitter: </h6>
                    <h6><img src="@Ticket.SubmitterUser.ProfilePictureUrl" width="50" class="rounded-circle" /> @Ticket.SubmitterUser.FullName</h6>
                    @if(Ticket.DeveloperUser is not null)
                    {
                        <h6>Ticket Developer:</h6>
                        <h6><img src="@Ticket.DeveloperUser.ProfilePictureUrl" width="50" class="rounded-circle" /> @Ticket.DeveloperUser.FullName</h6>

                    }
                    else
                    {
                        <h6>Ticket Developer:</h6>
                        <h6>None Assigned</h6>
                    }
                </div>
            </div>

        </div>
    </div>

}


@code {
    #region Parameters
    [Parameter, EditorRequired]
    public TicketDTO? Ticket { get; set; }

    #endregion

    #region State
    private string? backgroundColor = string.Empty;
    #endregion

    #region Methods

    #endregion
}