@inject IProjectDTOService ProjectService
@inject ITicketDTOService TicketService
@if (Ticket is not null)
{
    @* <!-- Item -->
    <div class="card d-sm-flex flex-sm-row align-items-sm-center card-hover justify-content-between bg-faded-info border-info shadow-sm p-3 p-md-4 mb-4 h-100">
        <div class="d-flex align-items-center pe-sm-3">
            <div class="ps-3 ps-sm-4">
                @if (Ticket.IsArchived == false)
                {
                    <h5 class="h5 mb-2">
                        <a class="mb-2 text-info" href="/tickets/Index/@Ticket.Id">@Ticket.Title</a>
                    </h5>


                }
                else
                {
                    <h5 class="h5 mb-2">
                        <a class="mb-2 text-info" href="/tickets/Index/@Ticket.Id">@Ticket.Title</a>
                    </h5>
                }

                @if (Ticket.Updated.HasValue)
                {
                    <div>Last Updated: @Ticket.Updated.Value.ToString("d")</div>
                }
                else
                {
                    <div>Last Updated: @Ticket.Created.ToString("d")</div>
                }

                <div>Project: @Ticket.Project.Name</div>
            <div class="vstack">
                <div>Priority: @Ticket.Priority.GetDisplayName()</div>
                <div>Type: @Ticket.Type.GetDisplayName()</div>
                <div>Status: @Ticket.Status.GetDisplayName()</div>

            </div>
            </div>
        </div>
    </div> *@

    <tr>
        <th scope="row"><a class="nav-link text-primary" href="/tickets/Index/@Ticket.Id">@Ticket.Title</a></th>
        
        @if (Ticket.Updated is not null)
        {
            <td>@Ticket.Updated.Value.ToString("d")</td>

        }
        else
        {
            <td>@Ticket.Created.ToString("d")</td>
        }
        @if(project is not null)
        {
            <td>@project.Name</td>
        }
        @*         @if (Ticket.IsArchived == true)
        {
            <td>Archived</td>

        }
        else
        {
            <td>In Progress</td>
        } *@
        <td>@Ticket.Priority.GetDisplayName()</td>

        @if (Ticket.SubmitterUser is not null)
        {
            <td>@Ticket.SubmitterUser.FullName</td>

        }
        @if (Ticket.DeveloperUserId is not null && Ticket.DeveloperUser is not null)
        {
            <td>@Ticket.DeveloperUser.FullName</td>

        }
        else
        {
            <td>No Developer Assigned</td>

        }
        @*<td>@Ticket.Comments.Count()</td>
        <AuthorizeView>
            @if (project is not null && UserInfo is not null)
            {

                @if (context.User.IsInRole("Admin") || project.CompanyMembers.Any(c => c.UserId == UserInfo.UserId) && context.User.IsInRole("ProjectManager"))
                {
                    @if (Ticket.IsArchived is false)
                    {
                        <td><button class="btn btn-success" @onclick="HandleArchive">Archive</button></td>

                    }
                    else if (Ticket.IsArchived is true)
                    {
                        <td><button class="btn btn-success" @onclick="HandleRestore">Restore</button></td>
                    }

                }
            }
    </AuthorizeView> *@
    </tr> 

}


@code {
    #region Parameters
    [Parameter, EditorRequired]
    public TicketDTO? Ticket { get; set; }

    [Parameter, EditorRequired]
    public UserInfo? UserInfo { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<int> OnRestore { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<int> OnArchive { get; set; }
    #endregion

    #region State
    private string? backgroundColor = string.Empty;
    private ProjectDTO? project;
    // private TicketDTO? Ticket;
    #endregion

    #region Methods
    protected override async Task OnParametersSetAsync()
    {
        if (UserInfo is not null)
        {
            // Ticket = await TicketService.GetTicketByIdAsync(TicketId, UserInfo.CompanyId);
            project = await ProjectService.GetProjectByIdAsync(Ticket.ProjectId, UserInfo.CompanyId);

        }
    }
    private async Task HandleArchive()
    {
        if (Ticket is not null)
        {
            await OnArchive.InvokeAsync(Ticket.Id);

        }
    }
    private async Task HandleRestore()
    {
        if (Ticket is not null)
        {
            await OnRestore.InvokeAsync(Ticket.Id);

        }
    }
    #endregion
}
