@inject IProjectDTOService ProjectService

@if (Project is not null)
{
    <article class="card h-100 card-hover border-primary bg-faded-primary shadow-sm">
        <div class="card-body pb-3">
            <h3 class="h5 mb-2">
                <a href="/projects/details/@Project.Id">@Project.Name</a>
            </h3>
            @if(projectManager is not null)
            {
                <p class="fs-lg fw-semibold mb-2 text-primary">Project Manager: @projectManager.FullName</p>

            }
            else
            {
                <p class="fs-lg fw-semibold mb-2 text-primary">Project Manager: None Assigned</p>
            }
            <p class="fs-lg fw-semibold text-primary mb-0">Created: @Project.Created.ToString("d")</p>
            <p class="fs-lg fw-semibold text-primary mb-0">Priority: @Project.Priority.GetDisplayName()</p>
        </div>
    </article>
    
        @* <div class="card-footer fs-sm">

            <AuthorizeView Context="AdminView">
                @if (userInfo is not null)
                {

                    @if (AdminView.User.IsInRole("Admin") && Project.IsArchived == false)
                    {

                        @* <div class="btn-group dropdown">

                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-controls="assignManagerdropdown" aria-expanded="false">
                                Assign Project Manager
                            </button>
                            <div class="dropdown-menu my-1">
                                @if (ProjectManagers is not null)
                                {
                                    @foreach (UserDTO? user in ProjectManagers)
                                    {

                                        <a class="dropdown-item"
                                           @onclick="AssignManager">
                                            @user.FullName
                                        </a>

                                    }

                                }
                            </div>
                        </div> *@
@* 
                        <div>

                            @if (Project.IsArchived is false)
                            {
                                <button class="btn btn-success btn-sm mt-3" @onclick="HandleSubmit">Archive</button>
                            }
                            else if (Project.IsArchived is true)
                            {
                                <button class="btn btn-success btn-sm mt-3" @onclick="HandleSubmit">Restore</button>
                            }
                        </div> *@

@* 
                    }
                    else if (projectManager is not null && AdminView.User.IsInRole("ProjectManager") && userInfo.UserId == projectManager.UserId || AdminView.User.IsInRole("Admin"))
                    {
                        <div>

                            @if (Project.IsArchived is false)
                            {
                                <button class="btn btn-success btn-sm mt-3" @onclick="HandleSubmit">Archive</button>

                            }
                            else if (Project.IsArchived is true)
                            {
                                <button class="btn btn-success btn-sm mt-3" @onclick="HandleSubmit">Restore</button>
                            }
                        </div>
                    }
                }
            </AuthorizeView> *@
        @* </div>
    </div> *@ 

}

@code {
    [Parameter, EditorRequired]
    public ProjectDTO? Project { get; set; }

    [Parameter, EditorRequired]
    public UserInfo? userInfo { get; set; }

    [Parameter, EditorRequired]
    public IEnumerable<UserDTO>? ProjectManagers { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<int> OnSubmit { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<string?> OnManagerSubmit { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<int> OnProjectIdSubmit { get; set; }

    private UserDTO? projectManager;
    private string? ManagerAssignment;
    private int projectId;

    protected override async Task OnParametersSetAsync()
    {
        if (Project is not null && userInfo is not null)
        {
            projectManager = await ProjectService.GetProjectManagerAsync(Project.Id, userInfo.CompanyId);

        }
    }

    private async Task AssignManager()
    {
        try
        {
            if (Project is not null)
            {

                projectId = Project.Id;
                await OnProjectIdSubmit.InvokeAsync(projectId);
                await OnManagerSubmit.InvokeAsync(ManagerAssignment);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);

        }
    }

    private async Task HandleSubmit()
    {
        if (Project is not null)
        {
            await OnSubmit.InvokeAsync(Project.Id);
        }
    }
}
