@inject ICompanyDTOService CompanyService

@if (Project is not null && Members is not null)
{
    
    <div class="col-12 col-md-6">

    <div class="card h-100 p-lg-5">
        <div class="card-body p-lg-2">
            @if (ProjectManager is not null)
            {
                <h4>Project Manager: @ProjectManager.FullName</h4>

            }
            else
            {
                <h4>Project Manager: None Assigned</h4>
            }
            
            <h6>Description</h6>
            <p>@Project.Description</p>
        </div>
    </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="accordion" id="faq">

            <!-- Item -->
            <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                <h3 class="accordion-header">
                    <button class="accordion-button shadow-none rounded-3" type="button" data-bs-toggle="collapse" data-bs-target="#q-1" aria-expanded="true" aria-controls="q-1">Project Members</button>
                </h3>
                <div class="accordion-collapse collapse" id="q-1" data-bs-parent="#faq">
                    <div class="accordion-body fs-sm pt-0">
                        @if (Members is not null)
                        {
                            @foreach (UserDTO? user in Members)
                            {
                                if (user is not null && user.Role == nameof(Roles.Developer) || user is not null && user.Role == nameof(Roles.Submitter))
                                {
                                    if (user.Role == nameof(Roles.Developer))
                                    {
                                        <h5>@user.FullName: @Roles.Developer.GetDisplayName()</h5>

                                    }
                                    else
                                    {
                                        <h5>@user.FullName: @Roles.Submitter.GetDisplayName()</h5>
                                    }

                                }
                            }

                        }
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                <h3 class="accordion-header">
                    <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-2" aria-expanded="false" aria-controls="q-2">Important Times</button>
                </h3>
                <div class="accordion-collapse collapse" id="q-2" data-bs-parent="#faq">
                    <div class="accordion-body fs-sm pt-0">
                        <h5>Created: @Project.Created.ToString("d")</h5>
                        <h5>Start Date: @Project.StartDate.ToString("d")</h5>
                        <h5>End Date: @Project.EndDate.ToString("d")</h5>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                <h3 class="accordion-header">
                    <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-3" aria-expanded="false" aria-controls="q-3">Project Priority: @Project.Priority.GetDisplayName()</button>
                </h3>
                <div class="accordion-collapse collapse" id="q-3" data-bs-parent="#faq">
                    <div class="accordion-body fs-sm pt-0">
                        <h3>@Project.Priority.GetDisplayName()</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>

}


@code {
    #region Parameters
    [Parameter, EditorRequired]
    public ProjectDTO? Project { get; set; }

    [Parameter, EditorRequired]
    public UserDTO? ProjectManager { get; set; }

    [Parameter, EditorRequired]
    public IEnumerable<UserDTO>? Members { get; set; }

    #endregion

    #region State
    private string? backgroundColor = string.Empty;
    public string? MemberAssignment;
    public string? ManagerAssignment;
    public string? MemberRemoval;
    #endregion

    #region Methods



    #endregion
}
