@using System.ComponentModel.DataAnnotations


@if(ProjectInfo is not null)
{
    <tr>
        <th scope="row">@ProjectInfo.Name</th>
        <td>@ProjectInfo.Created</td>
        <td>@ProjectInfo.StartDate</td>
        <td>@ProjectInfo.EndDate</td>
        <td>@ProjectInfo.Priority</td>
    </tr>

}



@code {
    #region Parameters
    [Required, EditorRequired]
    public ProjectDTO? ProjectInfo { get; set; }
    #endregion

    #region State
    #endregion

    #region Methods
    #endregion
}
